@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;1,200&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
